name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: mryadolahi
          outputs: snake.svg

      - name: Push Snake
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update snake"
